<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is simple webapplication of Text analyer</h1>
    <form action="/analyze" method="GET">
        <textarea name="textarea" cols="30" rows=10"></textarea>
        <br>
        <input type="checkbox" name="punctuation">remove punctuation
        <br>
        <input type="checkbox" name="capitalize">Capatilize 
        <br>
        <input type="checkbox" name="newline_remove">New line remove
        <br>
        <input type="checkbox" name="space_remove">Space remove
        <br>
        <input type="checkbox" name="char_count">Character count
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>